:root {
    --main-color: #968C83;
    --sec-color: #D6D2C4;
    --ter-color: #FFF5EA;
    --quad-color: #F7DAD9;
    --txt-color: rgb(54, 54, 54);
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--ter-color);
}

header {
    margin: 0;
    padding: 1px;
    background-color: var(--main-color);
    color: var(--ter-color);
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}

#main {
    background-color: var(--sec-color);
    width: 850px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#frame {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

#inputMethod {
    display: flex;
    width:100%;
    justify-content: center;
}

.button {
    width: 55px;
    height: 55px;
    margin: 20px;
    border: none;
    background-color: var(--ter-color);
    border-radius: 10px;
    background-repeat: no-repeat;
    transition: all 0.2s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(75, 75, 75, 0.205);
    border-bottom: 25px solid rgba(0, 0, 0, 0.521);
}

#camInButton {
    background-image: url("img/cam.svg");
    background-position: top 3px right 3px;
}

#imgInButton {
    background-image: url("img/addPhoto.svg"); 
    background-position: top 3px right 5px;
}

#phoneInButton {
    background-image: url("img/phone.svg");
    background-position: top 3px right 3px;
}

#dlPDFButton {
    background-image: url("img/dlPDF.svg");
    background-position: top 3px right 3px;
}

#dlPDFButton:hover {
    height: 30px;
}

#modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

#modalImg {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: 0;
    padding: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

#scanner {
    margin: 20px 80px 20px 20px;
}

#scannerImg {
    margin: 20px 80px 20px 20px;
}


#buttonContainer {
    display: inline-block;
    height: 0;
}

#buttonContainerImg {
    display: inline-block;
    height: 0;
}

#video-canvas {
    width: 100%;
    height: 100%;
    background-color: var(--ter-color);
    border-radius: 10px 10px;
}

#image-canvas {
    width: 80%;
    height: 80%;
    background-color: var(--ter-color);
    border-radius: 10px 10px;
}

#fileIn {
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--ter-color);
}

#fileInput {
    margin-left: 30px;
    margin-top: 10px;
}

#selectorCam {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--ter-color);
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

#videoSource {
    margin-left: 5px;
    width: auto;
    max-width: 200px;
}

#vsLabel {
    margin-top: auto;
    margin-bottom: auto;
}

#closeButton {
    right: 15px;
    top: 15px;
    background-image: url("img/close.svg");
    background-color: rgb(255, 56, 30);
    border-radius: 30%;
}

#scanButton {
    right: 15px;
    bottom: 15px;
    background-image: url("img/check.svg");
    background-color: rgb(89, 255, 56);
    border-radius: 30%;
}

#closeButtonImg {
    right: 15px;
    top: 15px;
    background-image: url("img/close.svg");
    background-color: rgb(255, 56, 30);
    border-radius: 30%;
}

#scanButtonImg {
    right: 15px;
    bottom: 15px;
    background-image: url("img/check.svg");
    background-color: rgb(89, 255, 56);
    border-radius: 30%;
}

.scannerButton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.scannerButton:hover {
    cursor: pointer; 
}