
body {
    margin: 0;
    padding: 0;
    background-color: var(--sec-color);
}

header{
    margin-bottom: 0;
}

#title {
    background: none;
    text-decoration: none;
    color: #2afd8d;
    cursor: pointer;
    transition: all 0.2s;
}

#title:hover {
    transform: scale(1.1);
}

.title {
    cursor: pointer;
}

.title:hover {
    color: var(--sec-color);
}

#ban {
    padding: 0;
    margin: 0;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: #0000008c;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 350px;
    right: 50px;
    color: white;
    font-size: 30px;
    width: 600px;
    height: auto;
}

#play {
    align-self: flex-end;
    background-color: white;
    border: none;
    /* background-image: url("img/play_arrow_black_48dp.svg"); */
    background-size: cover;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    padding: 1%;
    cursor: pointer;
}

#play:hover {
    box-shadow: 0 0 10px var(--quad-color);
    transition: all 0.2s;
}

#debut{
    background-image: url("img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    width: 100%;
    height: 600px;
}

#begin-content {
    background-color: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 2%;
    text-align: justify;
}

#end-content {
    background-color: #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 0;
    width: 60%;
    margin: auto;
    padding: 2%;
    padding-top: 0px;
    text-align: justify;
}

#between-content {
    width: 60%;
    margin: auto;
    padding: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eeeeee;
}

.court {
    text-align: start;
}

#content {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    text-align: justify;
}

.open #materiel {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

#materiel > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 600px;
}

.open .carotte {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#bon {
    display: flex;
    justify-items: center;
}

#carte {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

#ayuda {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

#ayuda img {
    margin: 10px;
    
}

.open .carotte img{
    margin: 10px;
}

.open .explications {
    width: 30%;
    margin: 10px;
}

.open .bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1%;
}

.open #part {
    
}

.close .bloc{
    display: none;
}

.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    padding: 2%;
    background-color: var(--main-color);
    color: #eeeeee;
    text-align: justify;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.open #etapes {
    display: flex;
    flex-direction: row;
}



.close h2 {
    background-color: #eeeeee;
    width: 60%;
    margin: auto;
    padding: 2%;
}

.bloc {
    transition: all 2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#executer {
    display: flex;
    flex-direction: column;
}

.grp_parties {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


.parties {
    display: flex;

}

#regles h3 {
    text-align: center;
}

#etape1 {
    display: flex;
    flex-direction: column;
    
}

#etape1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etape1 > a {
    align-self: flex-start;
}

#etape2 > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#etape2 > div > img {
    margin: 10px;
    width: 44px;
    height: 44px;
    margin-bottom: auto;
    margin-top: auto;
}

#executer > div > div > img {
    margin: 10px;
}

#executer {
    display: flex;
    flex-direction: column;
}

#executer > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#command_execution > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.etape {
    width: 30%;
}

/* #etapes {
    display: flex;
    flex-direction: row;
} */

#etapes img {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

#command_execution img {
    background-color: #eeeeee;
}

.exemple {
    margin: 10px;
    width: 90%;
    height: auto;
}

#carte_niveau {
    width: 60%;
}

.button {
    align-self: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    background-size: cover;
    font-size: larger;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 10px var(--quad-color);
    transition: all 0.2s;
}

.explications img {
    margin: 10px;
    width: 70px;
    height: auto;
}

.explications > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#pdf {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.596) 2px;
}

h2 {
    text-align: center;
}

footer {
    background-color: var(--txt-color);
    color: #eeeeee;
    height: 80px;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--sec-color)
}

@media screen and (max-width: 800px) {
    #box{
        width: 75%;
    }
}
