:root {
    --main-color: #0d6164;
    --sec-color: #79b9bb;
    --ter-color: #084446ee;
    --quad-color: #179489a2;
    --txt-color: rgb(54, 54, 54);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--sec-color);
}

header{
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    font-family: sans-serif;
    color: white;
    font-size: larger;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

#title {
    background: none;
    text-decoration: none;
    color: #eeeeee;
    cursor: pointer;
    transition: all 0.2s;
}

#title:hover {
    transform: scale(1.1);
}

#ban {
    padding: 0;
    margin: 0;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: var(--ter-color);
    border-radius: 5px;
    padding: 2%;
    margin: 0;
    position: relative;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 30px;
    width: 600px;
}

#play {
    align-self: flex-end;
    background-color: white;
    border: none;
    background-image: url("img/play_arrow_black_48dp.svg");
    background-size: cover;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    padding: 1%;
    cursor: pointer;
}

#play:hover {
    box-shadow: 0 0 10px var(--quad-color);
    border-bottom: 25px solid var(--quad-color);
    transition: all 0.2s;
}

#debut{
    background-image: url("img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    width: 100%;
    height: 100vh;
}

#begin-content {
    background-color: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    text-align: justify;
}

#end-content {
    background-color: #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: -1;
    width: 60%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

#content {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    text-align: justify;
}

#regles {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    padding: 2%;
    background-color: var(--main-color);
    color: #eeeeee;
    text-align: justify;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 1%;
    border-bottom: solid #084446ee;
}

#LEEEGO {
    text-align: center;
    justify-content: center;
    padding-top: 1%;
    width: 60%;
    
}

#etapes > div {
    width: 30%;
}

#regles h3 {
    text-align: center;
}

#etape1 {
    display: flex;
    flex-direction: column;
}

#imprimer {
    align-self: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    background-size: cover;
    font-size: larger;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
    cursor: pointer;
}

#imprimer:hover {
    box-shadow: 0 0 10px var(--quad-color);
    transition: all 0.2s;
}

h2 {
    text-align: center;
}

footer {
    background-color: var(--txt-color);
    color: #eeeeee;
    height: 80px;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--sec-color)
}


@media screen and (min-width: 800px) {
    #debut{
        height: 650px;
    }
}