
body {
    margin: 0;
    padding: 0;
    background-color: var(--sec-color);
}

header{
    margin-bottom: 0;
}

#title {
    background: none;
    text-decoration: none;
    color: #eeeeee;
    cursor: pointer;
    transition: all 0.2s;
}

#title:hover {
    transform: scale(1.1);
}

#ban {
    padding: 0;
    margin: 0;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: #0000008c;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 350px;
    right: 50px;
    color: white;
    font-size: 30px;
    width: 600px;
    height: auto;
}

#play {
    align-self: flex-end;
    background-color: white;
    border: none;
    /* background-image: url("img/play_arrow_black_48dp.svg"); */
    background-size: cover;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    padding: 1%;
    cursor: pointer;
}

#play:hover {
    box-shadow: 0 0 10px var(--quad-color);
    transition: all 0.2s;
}

#debut{
    background-image: url("img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover, contain;
    width: 100%;
    height: 600px;
}

#begin-content {
    background-color: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    text-align: justify;
}

#end-content {
    background-color: #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 0;
    width: 60%;
    margin: auto;
    padding: 2%;
    text-align: justify;
}

#content {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-top: 1%;
    padding: 2%;
    text-align: justify;
}

#materiel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#materiel > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;
    width: 600px;
}

#regles {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    margin: auto;
    width: 90%;
    padding: 2%;
    background-color: var(--main-color);
    color: #eeeeee;
    text-align: justify;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#etapes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-bottom: 1%;
}

#executer {
    display: flex;
    flex-direction: column;
}

#etapes > div {
    width: 30%;
}

#regles h3 {
    text-align: center;
}

#etape1 {
    display: flex;
    flex-direction: column;
    
}

#etape1 > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#etape1 > div > img {
    margin: 10px;
}

#etape2 > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#etape2 > div > img{
    margin: 10px;
}

#executer > div > div > img {
    margin: 10px;
}

#executer > div {
    display: flex;
    flex-direction: column;
}

#executer > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

#command_execution > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

#etapes img {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

#command_execution img {
    background-color: #eeeeee;
}

.button {
    align-self: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    background-size: cover;
    font-size: larger;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 10px var(--quad-color);
    transition: all 0.2s;
}



#pdf {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.596) 2px;
}

h2 {
    text-align: center;
}

footer {
    background-color: var(--txt-color);
    color: #eeeeee;
    height: 80px;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--sec-color)
}


@media screen and (max-width: 800px) {
    #box{
        width: 75%;
    }
}