@font-face {
    font-family: 'dot_matrixbold';
    src: url('../Fonts/dotmbold-libre_de_droit-webfont.woff2') format('woff2'),
         url('../Fonts/dotmbold-libre_de_droit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font_fabriqueregular';
    src: url('../Fonts/fontfabrique-regular-la_fabrique-webfont.woff2') format('woff2'),
         url('../Fonts/fontfabrique-regular-la_fabrique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dot_matrixregular';
    src: url('../Fonts/dotmatri-libre_de_droit-webfont.woff2') format('woff2'),
         url('../Fonts/dotmatri-libre_de_droit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: black;
    --sec-color: #464646;
    --ter-color: 'white';
    --quad-color: #ff0070;
    --txt-color: rgb(54, 54, 54);
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--sec-color);
    font-family: 'Work Sans', sans-serif;
}

header {
    margin: 0 0 20px 0;
    padding: 1px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-size: larger;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.295);
}

h1 {
    transition: all 0.2s;
    cursor: pointer;
    color: #00FF89;
    font-family: 'font_fabriqueregular';
}

h1:hover {
    transform: scale(1.1);
}

h2 {
    text-align: center;
    font-family: 'font_fabriqueregular';
    font-size: 1.8em;
    color: var(--quad-color);
}

#main {
    background-color: transparent;
    width: 1050px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#frame {
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#inputMethod {
    margin-left: 950px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    position: absolute;
}

.button {
    width: 55px;
    height: 55px;
    margin: 10px;
    border: none;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 0 5px var(--main-color);
    background-repeat: no-repeat;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px var(--main-color);
    border-bottom: 25px solid rgba(255, 0, 112, .5);
    transition: all 0.2s;
}

.grp_parties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#problems {
    background-image: url("img/help.svg");
    background-position: top 9px right 6px;
}

#attention {
    height: 40%;
    margin-left: 27%;
    /*margin-right: 15%;*/
    margin-top: -10%;
    background-color: black;
    color: var(--quad-color);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 60%;
    border-radius: 6px;
    padding: 5px;
  
    position: relative;
    z-index: 1;
}

.close {
    display: none;
}

.button .mouseOver {
    visibility: hidden;
    width: auto;
    height: auto;
    margin-left: 35px;
    margin-top: -10px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 6px;
    padding: 5px;
  
    position: absolute;
    z-index: 1;
}
  
.button:hover .mouseOver {
    visibility: visible;
}

.open .carotte {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px;
    margin-left:0px;
    width: 48%;
    text-align: start;
}

.open .carotte img{
    margin: 10px;
    margin-left:0px;
}

.open .carotte div{
    margin: 10px;
}

.open .bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 1%;
    transition: all 2s;
}

.open {
    display: flex;
    position: absolute;
    right: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
    margin: auto;
    width: 350%;
    padding: 2%;
    background-color: var(--main-color);
    color: #eeeeee;
    text-align: justify;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: default;
}

footer {
    background-color: var(--txt-color);
    color: #eeeeee;
    font-family: 'Work Sans', sans-serif;
    font-size: 90%;
    height: 80px;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--ter-color)
}

a:hover {
    color:  var(--quad-color);
}


@media screen and (min-width: 1090px) {
    #inputMethod {
        right: auto;
    }
}

.cn_-function-editor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  
}
